In [50]:
import pandas as pd
import numpy as np
import pymongo

# Functions

As a side note, here's how to delete the Mongo database, using the mongo shell:

    (from a command prompt) mongo shell
    use nobel_prize
    db.dropDatabase()

In [65]:
def get_mongo_database(db_name, host='localhost', 
                       port=27017, username=None, password=None):
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s/%s'%(username, password, host, db_name)
        conn = pymongo.MongoClient(mongo_uri)
    else:
        conn = pymongo.MongoClient(host, port)
        
    return conn[db_name]

def mongo_to_dataframe(db_name, collection, query={},
                       host='localhost', port=27017,
                       username=None, password=None, no_id=True):
    db = get_mongo_database(db_name, host, port, username, password)
    
    cursor = db[collection].find(query)
    df = pd.DataFrame(list(cursor))
    
    if no_id:
        del df['_id']
    
    return df

def dataframe_to_mongo(df, db_name, collection,
                       host='localhost', port=27017,
                       username=None, password=None):
    db = get_mongo_database(db_name, host, port, username, password)
    records = df.to_dict('records')
    db[collection].insert_many(records)

In [66]:
MONGO_DB_NAME = 'nobel_prize'
MONGO_COLL_NAME_WINNERS = 'winners'

# Load from .json into Mongo

In [67]:
# at least once, let's load the contents of the json we ended up with
# into Mongo, and then, I guess, we'll use the data from Mongo
# good for practice, I suppose
df = pd.read_json('nobel_winners_scrapy/nobel_winners.json')
df.shape

(1106, 12)

In [68]:
df[:2]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
1,Australia,Physiology or Medicine,,26 November 1948,NaN,female,https://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,Hobart,NaN,"Elizabeth Blackburn *, Physiology or Medicine,...",2009

In [69]:
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [70]:
dataframe_to_mongo(df, MONGO_DB_NAME, MONGO_COLL_NAME_WINNERS)

# Load winners data from Mongo

In [71]:
# and now we'll get the df from Mongo
df = mongo_to_dataframe(MONGO_DB_NAME, MONGO_COLL_NAME_WINNERS, no_id=True)
df.shape

(1106, 12)

In [72]:
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [73]:
df[:2]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
1,Australia,Physiology or Medicine,,26 November 1948,NaN,female,https://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,Hobart,NaN,"Elizabeth Blackburn *, Physiology or Medicine,...",2009

# Initial data inspection

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 12 columns):
born_in           1106 non-null object
category          1106 non-null object
country           1106 non-null object
date_of_birth     1097 non-null object
date_of_death     725 non-null object
gender            1097 non-null object
link              1106 non-null object
name              1106 non-null object
place_of_birth    1097 non-null object
place_of_death    725 non-null object
text              1106 non-null object
year              1106 non-null int64
dtypes: int64(1), object(11)
memory usage: 103.8+ KB

In [75]:
df.describe()

              year
count  1106.000000
mean   1968.169078
std      68.065801
min       0.000000
25%    1948.000000
50%    1976.000000
75%    1998.000000
max    2016.000000

In [76]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1106,1106,1106,1097,725,1097,1106,1106,1097,725,1106
unique,40,7,64,868,580,2,913,1024,605,313,1089
top,,Physiology or Medicine,United States,15 March 1930,9 March 1992,male,https://en.wikipedia.org/wiki/Marie_Curie,César Milstein,New York City,Cambridge,"Michael Levitt *, as an Israeli citizen , C..."
freq,943,262,351,4,4,1036,4,3,47,37,3

In [77]:
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
1,Australia,Physiology or Medicine,,26 November 1948,NaN,female,https://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,Hobart,NaN,"Elizabeth Blackburn *, Physiology or Medicine,...",2009
2,,Chemistry,Germany,26 November 1898,12 August 1973,male,https://en.wikipedia.org/wiki/Karl_Ziegler,Karl Ziegler,Helsa,Mülheim,"Karl Ziegler , Chemistry, 1963",1963
3,Germany,Physics,,28 June 1906,20 February 1972,female,https://en.wikipedia.org/wiki/Maria_Goeppert-M...,Maria Goeppert-Mayer *,Katowice,San Diego,"Maria Goeppert-Mayer *, Physics, 1963",1963
4,,Physics,Germany,25 June 1907,11 February 1973,male,https://en.wikipedia.org/wiki/J._Hans_D._Jensen,J. Hans D. Jensen,Hamburg,Heidelberg,"J. Hans D. Jensen , Physics, 1963",1963

In [78]:
df['born_in']

0
1                    Australia
2
3                      Germany
4
5
6
7                      Germany
8
9                      Germany
10
11
12
13
14
15                      Poland
16                      Poland
17                      Poland
18
19                      Poland
20                 Netherlands
21
22
23
24
25
26
27                South Africa
28
29
                 ...
1076
1077
1078
1079
1080
1081
1082    Bosnia and Herzegovina
1083                    Canada
1084
1085
1086
1087                   Belarus
1088                   Belarus
1089                   Belarus
1090                   Belarus
1091                   Austria
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105                   Austria
Name: born_in, dtype: object

In [79]:
df.born_in.describe()

count     1106
unique      40
top
freq       943
Name: born_in, dtype: object

In [80]:
set(df['born_in'].apply(type))

{str}

In [81]:
df['born_in'].replace('', np.nan, inplace=True)

In [82]:
df['born_in'].describe()

count         163
unique         39
top       Germany
freq           24
Name: born_in, dtype: object

And we can use replace generally w/ the dataframe to replace all empty strings with NaN.

In [83]:
df.replace('', np.nan, inplace=True)

In [84]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,163,1102,943,1097,725,1097,1106,1106,1097,725,1106
unique,39,6,63,868,580,2,913,1024,605,313,1089
top,Germany,Physiology or Medicine,United States,15 March 1930,9 March 1992,male,https://en.wikipedia.org/wiki/Marie_Curie,César Milstein,New York City,Cambridge,"Michael Levitt *, as an Israeli citizen , C..."
freq,24,262,351,4,4,1036,4,3,47,37,3

Asterisks in the name field mean that these winners are recorded by country of birth, not by country at the time of winning the prize. We want to remove the asterisks and any additional whitespace.

In [86]:
# how many?
#df[df.name.str.contains('\*')]['name']
df[df['name'].str.contains('\*')]['name']

1              Elizabeth Blackburn *
3             Maria Goeppert-Mayer *
7                 Jack Steinberger *
9                     John Polanyi *
15                  Joseph Rotblat *
16                    Shimon Peres *
17                 Georges Charpak *
19                  Roald Hoffmann *
20            Nicolaas Bloembergen *
27                Allan M. Cormack *
100                    T. S. Eliot *
161             Har Gobind Khorana *
187               Ben R. Mottelson *
224                 Czesław Miłosz *
245     Subrahmanyan Chandrasekhar *
332                Daniel Kahneman *
336                  Robert Aumann *
346                Rudyard Kipling *
351                    Ronald Ross *
357       Venkatraman Ramakrishnan *
389                 Shuji Nakamura *
390                   John O'Keefe *
394                  Arieh Warshel *
395                 Michael Levitt *
416                 Michael Levitt *
419     John James Rickard Macleod *
452                Oliver Smithies *
466              Christian de Duve *
470                  Patrick White *
488                   Severo Ochoa *
                    ...
1021               Vladimir Prelog *
1027               Ei-ichi Negishi *
1028                Charles K. Kao *
1029                  Gao Xingjian *
1030                Daniel C. Tsui *
1031             Edmond H. Fischer *
1032           Alexander Prokhorov *
1036                Martin Karplus *
1039             Ernest Rutherford *
1045            Charles B. Huggins *
1047               William Giauque *
1048                   Eric Kandel *
1049                   Walter Kohn *
1052               Karl von Frisch *
1054               William Vickrey *
1058             Rudolph A. Marcus *
1062                   Henry Taube *
1063                David H. Hubel *
1064                   Saul Bellow *
1066                    Ivo Andrić *
1068                 Elias Canetti *
1072                 Willard Boyle *
1082               Vladimir Prelog *
1083                 Myron Scholes *
1087                Zhores Alferov *
1088                  Shimon Peres *
1089                Menachem Begin *
1090                 Simon Kuznets *
1091                    Otto Loewi *
1105                  Richard Kuhn *
Name: name, dtype: object

In [87]:
df['name'] = df['name'].str.replace('*','')
df['name'] = df['name'].str.strip()

In [88]:
df[df['name'].str.contains('\*')]

Empty DataFrame
Columns: [born_in, category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

The winner rows that have values for the born_in field are duplicates, because they have an entry in Wikipedia both for the county in which they were born and their country at the time they were awarded the prize. We only want a single row per winner, so we'll only take the winner rows that don't have a born_in value.

In [89]:
df = df[df['born_in'].isnull()]
df = df.drop('born_in', axis=1)
df[:3]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
2,Chemistry,Germany,26 November 1898,12 August 1973,male,https://en.wikipedia.org/wiki/Karl_Ziegler,Karl Ziegler,Helsa,Mülheim,"Karl Ziegler , Chemistry, 1963",1963
4,Physics,Germany,25 June 1907,11 February 1973,male,https://en.wikipedia.org/wiki/J._Hans_D._Jensen,J. Hans D. Jensen,Hamburg,Heidelberg,"J. Hans D. Jensen , Physics, 1963",1963

In [91]:
df.shape

(943, 11)

We think we still have some dupes, because a separate search online shows that 889 folks had received a Nobel Prize through 2014.

The 'duplicated' method takes a field/column and returns False for the first occurence of any rows with the same values for the particular field and True for any subsequent occurence. (The call has the 'keep' param to change this.)

In [94]:
dupes_by_name = df[df.duplicated('name')]
dupes_by_name.shape

(61, 11)

A few people _have_ won multiple prizes, but not 61.

The book says one place to look at is whether multiple countries are 'claiming' the same winner... since the original list is by country, all this would take, I think, is for the same person to be listed more than once/for more than one country.

A few different ways to get all duplicates - since, by default, duplicated only returns True for duplicates after the first instance...

In [99]:
# easiest, not in the book (perhaps because this option is new?)
# passing False for 'keep' tells duplicated to mark all duplicates as True
all_dupes_1 = df[df.duplicated('name', keep=False)]
all_dupes_1.shape

(121, 11)

In [100]:
# or we can make our own instance of the previous by ORing together the
# result of keep='first' and keep='last'
all_dupes_2 = df[df.duplicated('name', keep='first') | 
                 df.duplicated('name', keep='last')]
all_dupes_2.shape

(121, 11)

In [102]:
# or we can see if the rows have a name that's in the list of duplicate
# names
all_dupes_3 = df[df['name'].isin(dupes_by_name['name'])]
all_dupes_3.shape

(121, 11)

In [103]:
# use groupby (you can do pretty much anything w/ groupby, it seems)
for name, rows in df.groupby('name'):
    print('name: %s, number of rows: %d'%(name, len(rows)))

name: 14th Dalai Lama, number of rows: 1
name: A. Michael Spence, number of rows: 1
name: Aage Bohr, number of rows: 1
name: Aaron Ciechanover, number of rows: 1
name: Aaron Klug, number of rows: 2
name: Abdus Salam, number of rows: 1
name: Ada Yonath, number of rows: 1
name: Adam G. Riess, number of rows: 1
name: Adolf Butenandt, number of rows: 1
name: Adolf Otto Reinhold Windaus, number of rows: 1
name: Adolf von Baeyer, number of rows: 1
name: Adolfo Pérez Esquivel, number of rows: 2
name: Ahmed H. Zewail, number of rows: 1
name: Ahmed Zewail, number of rows: 1
name: Akira Suzuki, number of rows: 1
name: Al Gore, number of rows: 1
name: Alan Heeger, number of rows: 1
name: Alan Lloyd Hodgkin, number of rows: 1
name: Alan MacDiarmid, number of rows: 2
name: Albert A. Michelson, number of rows: 1
name: Albert Camus, number of rows: 1
name: Albert Claude, number of rows: 1
name: Albert Einstein, number of rows: 2
name: Albert Fert, number of rows: 1
name: Albert Lutuli, number of rows: 1
name: Albert Schweitzer, number of rows: 1
name: Albert Szent-Györgyi, number of rows: 1
name: Albrecht Kossel, number of rows: 1
name: Aleksandr Solzhenitsyn, number of rows: 1
name: Alexander Fleming, number of rows: 1
name: Alexander Prokhorov, number of rows: 1
name: Alexander R. Todd, number of rows: 1
name: Alexei A. Abrikosov, number of rows: 1
name: Alexis Carrel, number of rows: 1
name: Alfonso García Robles, number of rows: 1
name: Alfred G. Gilman, number of rows: 1
name: Alfred Hermann Fried, number of rows: 1
name: Alfred Hershey, number of rows: 1
name: Alfred Kastler, number of rows: 1
name: Alfred Werner, number of rows: 1
name: Alice Munro, number of rows: 1
name: Allan M. Cormack, number of rows: 1
name: Allvar Gullstrand, number of rows: 1
name: Alva Myrdal, number of rows: 1
name: Alvin E. Roth, number of rows: 1
name: Amartya Sen, number of rows: 1
name: American Friends Service Committee  (The Quakers), number of rows: 1
name: Amnesty International, number of rows: 1
name: Anatole France, number of rows: 1
name: Andre Geim, number of rows: 1
name: Andrei Sakharov, number of rows: 1
name: Andrew Huxley, number of rows: 1
name: Andrew Z. Fire, number of rows: 1
name: Andrzej W. Schally, number of rows: 1
name: André F. Cournand, number of rows: 1
name: André Frédéric Cournand, number of rows: 1
name: André Gide, number of rows: 1
name: André Lwoff, number of rows: 1
name: Angus Deaton, number of rows: 2
name: Anthony J. Leggett, number of rows: 1
name: Antoine Henri Becquerel, number of rows: 1
name: Antony Hewish, number of rows: 1
name: António Egas Moniz, number of rows: 1
name: Anwar Sadat, number of rows: 1
name: Archer John Porter Martin, number of rows: 1
name: Arieh Warshel, number of rows: 1
name: Aristide Briand, number of rows: 1
name: Arne Tiselius, number of rows: 1
name: Arno Penzias, number of rows: 1
name: Arthur B. McDonald, number of rows: 1
name: Arthur H. Compton, number of rows: 1
name: Arthur Harden, number of rows: 1
name: Arthur Henderson, number of rows: 1
name: Arthur Kornberg, number of rows: 1
name: Arthur L. Schawlow, number of rows: 1
name: Arthur Lewis, number of rows: 1
name: Artturi Ilmari Virtanen, number of rows: 1
name: Arvid Carlsson, number of rows: 1
name: August Krogh, number of rows: 1
name: Auguste Beernaert, number of rows: 1
name: Aung San Suu Kyi, number of rows: 1
name: Austen Chamberlain, number of rows: 1
name: Avram Hershko, number of rows: 1
name: Aziz Sancar, number of rows: 2
name: Barack H. Obama, number of rows: 1
name: Barbara McClintock, number of rows: 1
name: Barry Marshall, number of rows: 1
name: Baruch S. Blumberg, number of rows: 1
name: Baruj Benacerraf, number of rows: 2
name: Ben Feringa, number of rows: 1
name: Ben Roy Mottelson, number of rows: 1
name: Bengt I. Samuelsson, number of rows: 1
name: Bengt R. Holmström, number of rows: 1
name: Bernard Katz, number of rows: 1
name: Bernardo Houssay, number of rows: 2
name: Bert Sakmann, number of rows: 1
name: Bertha von Suttner, number of rows: 1
name: Bertil Ohlin, number of rows: 1
name: Bertram Brockhouse, number of rows: 1
name: Bertrand Russell, number of rows: 1
name: Betty Williams, number of rows: 1
name: Bjørnstjerne Bjørnson, number of rows: 1
name: Bob Dylan, number of rows: 1
name: Boris Pasternak, number of rows: 1
name: Brian David Josephson, number of rows: 1
name: Brian K. Kobilka, number of rows: 1
name: Brian P. Schmidt, number of rows: 1
name: Brian Schmidt, number of rows: 1
name: Bruce Beutler, number of rows: 1
name: Bruce Merrifield, number of rows: 1
name: Burton Richter, number of rows: 1
name: C. V. Raman, number of rows: 1
name: Camillo Golgi, number of rows: 1
name: Camilo José Cela, number of rows: 1
name: Carl Anderson, number of rows: 1
name: Carl Bosch, number of rows: 1
name: Carl Cori, number of rows: 1
name: Carl E. Wieman, number of rows: 1
name: Carl Gustaf Verner von Heidenstam, number of rows: 1
name: Carl Spitteler, number of rows: 1
name: Carl von Ossietzky, number of rows: 1
name: Carlo Rubbia, number of rows: 1
name: Carlos Filipe Ximenes Belo, number of rows: 1
name: Carlos Saavedra Lamas, number of rows: 2
name: Carol W. Greider, number of rows: 1
name: Cecil Frank Powell, number of rows: 1
name: Charles Albert Gobat, number of rows: 1
name: Charles B. Huggins, number of rows: 1
name: Charles G. Dawes, number of rows: 1
name: Charles Glover Barkla, number of rows: 1
name: Charles H. Townes, number of rows: 1
name: Charles J. Pedersen, number of rows: 1
name: Charles K. Kao, number of rows: 2
name: Charles Louis Alphonse Laveran, number of rows: 1
name: Charles Nicolle, number of rows: 1
name: Charles Richet, number of rows: 1
name: Charles Scott Sherrington, number of rows: 1
name: Charles Thomson Rees Wilson, number of rows: 1
name: Charles Édouard Guillaume, number of rows: 1
name: Chen Ning Yang, number of rows: 1
name: Chen-Ning Yang, number of rows: 1
name: Christiaan Eijkman, number of rows: 1
name: Christian Anfinsen, number of rows: 1
name: Christian Lous Lange, number of rows: 1
name: Christian de Duve, number of rows: 1
name: Christiane Nüsslein-Volhard, number of rows: 1
name: Christopher A. Pissarides, number of rows: 1
name: Christopher A. Sims, number of rows: 1
name: Claude Cohen-Tannoudji, number of rows: 1
name: Claude Simon, number of rows: 1
name: Clifford G. Shull, number of rows: 1
name: Clinton Davisson, number of rows: 1
name: Cordell Hull, number of rows: 1
name: Corneille Heymans, number of rows: 1
name: Craig C. Mello, number of rows: 1
name: Cyril Norman Hinshelwood, number of rows: 1
name: Czesław Miłosz, number of rows: 1
name: César Milstein, number of rows: 3
name: Dag Hammarskjöld, number of rows: 1
name: Dale T. Mortensen, number of rows: 1
name: Dan Shechtman, number of rows: 1
name: Daniel Bovet, number of rows: 2
name: Daniel C. Tsui, number of rows: 1
name: Daniel Carleton Gajdusek, number of rows: 1
name: Daniel Kahneman, number of rows: 1
name: Daniel L. McFadden, number of rows: 1
name: Daniel Nathans, number of rows: 1
name: Dario Fo, number of rows: 1
name: David Baltimore, number of rows: 1
name: David H. Hubel, number of rows: 1
name: David J. Gross, number of rows: 1
name: David J. Thouless, number of rows: 2
name: David J. Wineland, number of rows: 1
name: David M. Lee, number of rows: 1
name: David Trimble, number of rows: 1
name: Dennis Gabor, number of rows: 2
name: Derek Harold Richard Barton, number of rows: 1
name: Derek Walcott, number of rows: 1
name: Desmond Tutu, number of rows: 1
name: Dickinson W. Richards, number of rows: 1
name: Dominique Pire, number of rows: 1
name: Donald A. Glaser, number of rows: 1
name: Donald J. Cram, number of rows: 1
name: Doris Lessing, number of rows: 1
name: Dorothy Crowfoot Hodgkin, number of rows: 1
name: Douglas D. Osheroff, number of rows: 1
name: Douglass C. North, number of rows: 1
name: Dudley R. Herschbach, number of rows: 1
name: E. Donnall Thomas, number of rows: 1
name: E. M. Purcell, number of rows: 1
name: Earl W. Sutherland Jr., number of rows: 1
name: Edgar Adrian, number of rows: 1
name: Edmond H. Fischer, number of rows: 2
name: Edmund S. Phelps, number of rows: 1
name: Eduard Buchner, number of rows: 1
name: Edvard Moser, number of rows: 1
name: Edward A. Doisy, number of rows: 1
name: Edward B. Lewis, number of rows: 1
name: Edward C. Kendall, number of rows: 1
name: Edward C. Prescott, number of rows: 1
name: Edward Tatum, number of rows: 1
name: Edward Victor Appleton, number of rows: 1
name: Edwin G. Krebs, number of rows: 1
name: Edwin M. McMillan, number of rows: 1
name: Ei-ichi Negishi, number of rows: 1
name: Eisaku Satō, number of rows: 1
name: Elfriede Jelinek, number of rows: 1
name: Elias Canetti, number of rows: 1
name: Elias James Corey, number of rows: 1
name: Elie Wiesel, number of rows: 1
name: Elihu Root, number of rows: 1
name: Elinor Ostrom, number of rows: 1
name: Elizabeth Blackburn, number of rows: 1
name: Ellen Johnson Sirleaf, number of rows: 1
name: Emil Adolf von Behring, number of rows: 1
name: Emilio Segrè, number of rows: 2
name: Emily G. Balch, number of rows: 1
name: Enrico Fermi, number of rows: 1
name: Eric A. Cornell, number of rows: 1
name: Eric Betzig, number of rows: 1
name: Eric F. Wieschaus, number of rows: 1
name: Eric R. Kandel, number of rows: 1
name: Eric S. Maskin, number of rows: 1
name: Erik Axel Karlfeldt, number of rows: 1
name: Ernest Hemingway, number of rows: 1
name: Ernest Lawrence, number of rows: 1
name: Ernest Rutherford, number of rows: 2
name: Ernest Walton, number of rows: 1
name: Ernesto Teodoro Moneta, number of rows: 1
name: Ernst Boris Chain, number of rows: 1
name: Ernst Otto Fischer, number of rows: 1
name: Ernst Ruska, number of rows: 1
name: Erwin Neher, number of rows: 1
name: Erwin Schrödinger, number of rows: 1
name: Eugene F. Fama, number of rows: 1
name: Eugene O'Neill, number of rows: 1
name: Eugene Wigner, number of rows: 2
name: Eugenio Montale, number of rows: 1
name: Eyvind Johnson, number of rows: 1
name: F. Duncan M. Haldane, number of rows: 2
name: F. Sherwood Rowland, number of rows: 1
name: F. W. de Klerk, number of rows: 1
name: Felix Bloch, number of rows: 2
name: Feodor Felix Konrad Lynen, number of rows: 1
name: Ferdinand Buisson, number of rows: 1
name: Ferid Murad, number of rows: 1
name: Finn E. Kydland, number of rows: 1
name: Francis Crick, number of rows: 1
name: Francis Peyton Rous, number of rows: 1
name: Francis William Aston, number of rows: 1
name: Franco Modigliani, number of rows: 2
name: Frank B. Kellogg, number of rows: 1
name: Frank Wilczek, number of rows: 1
name: Frans Eemil Sillanpää, number of rows: 1
name: François Englert, number of rows: 1
name: François Jacob, number of rows: 1
name: François Mauriac, number of rows: 1
name: Françoise Barré-Sinoussi, number of rows: 1
name: Fraser Stoddart, number of rows: 2
name: Frederick C. Robbins, number of rows: 1
name: Frederick G. Banting, number of rows: 1
name: Frederick Hopkins, number of rows: 1
name: Frederick Reines, number of rows: 1
name: Frederick Sanger, number of rows: 2
name: Frederick Soddy, number of rows: 1
name: Fredrik Bajer, number of rows: 1
name: Friderik Pregl, number of rows: 1
name: Fridtjof Nansen, number of rows: 1
name: Friedrich Bergius, number of rows: 1
name: Friedrich Hayek, number of rows: 2
name: Friends Service Council, number of rows: 1
name: Frits Zernike, number of rows: 1
name: Fritz Haber, number of rows: 1
name: Fritz Lipmann, number of rows: 1
name: Frédéric Joliot-Curie, number of rows: 1
name: Frédéric Mistral, number of rows: 1
name: Frédéric Passy, number of rows: 1
name: Gabriel García Márquez, number of rows: 1
name: Gabriel Lippmann, number of rows: 1
name: Gabriela Mistral, number of rows: 1
name: Gao Xingjian, number of rows: 1
name: Gary S. Becker, number of rows: 1
name: Geoffrey Wilkinson, number of rows: 1
name: Georg Wittig, number of rows: 1
name: Georg von Békésy, number of rows: 2
name: George A. Akerlof, number of rows: 1
name: George Andrew Olah, number of rows: 2
name: George Beadle, number of rows: 1
name: George Bernard Shaw, number of rows: 1
name: George C. Marshall, number of rows: 1
name: George D. Snell, number of rows: 1
name: George E. Palade, number of rows: 1
name: George E. Smith, number of rows: 1
name: George F. Smoot, number of rows: 1
name: George H. Hitchings, number of rows: 1
name: George H. Whipple, number of rows: 1
name: George J. Stigler, number of rows: 1
name: George Paget Thomson, number of rows: 1
name: George Porter, number of rows: 1
name: George R. Minot, number of rows: 1
name: George Wald, number of rows: 1
name: George de Hevesy, number of rows: 1
name: Georges Charpak, number of rows: 1
name: Georges J. F. Köhler, number of rows: 1
name: Gerald Edelman, number of rows: 1
name: Gerard 't Hooft, number of rows: 1
name: Gerd Binnig, number of rows: 1
name: Gerhard Domagk, number of rows: 1
name: Gerhard Ertl, number of rows: 1
name: Gerhard Herzberg, number of rows: 1
name: Gerhart Hauptmann, number of rows: 1
name: Gertrude B. Elion, number of rows: 1
name: Gerty Cori, number of rows: 1
name: Giorgos Seferis, number of rows: 1
name: Giosuè Carducci, number of rows: 1
name: Giulio Natta, number of rows: 1
name: Glenn Theodore Seaborg, number of rows: 1
name: Godfrey Hounsfield, number of rows: 1
name: Grazia Deledda, number of rows: 1
name: Guglielmo Marconi, number of rows: 1
name: Gunnar Myrdal, number of rows: 1
name: Gustaf Dalén, number of rows: 1
name: Gustav Ludwig Hertz, number of rows: 1
name: Gustav Stresemann, number of rows: 1
name: Gérard Debreu, number of rows: 2
name: Günter Blobel, number of rows: 1
name: Günter Grass, number of rows: 1
name: H. David Politzer, number of rows: 1
name: H. Robert Horvitz, number of rows: 1
name: Haldan Keffer Hartline, number of rows: 1
name: Halldór Laxness, number of rows: 1
name: Hamilton O. Smith, number of rows: 1
name: Hannes Alfvén, number of rows: 1
name: Hans Adolf Krebs, number of rows: 1
name: Hans Bethe, number of rows: 1
name: Hans Fischer, number of rows: 1
name: Hans G. Dehmelt, number of rows: 1
name: Hans Spemann, number of rows: 1
name: Hans von Euler-Chelpin, number of rows: 1
name: Harald zur Hausen, number of rows: 1
name: Harold C. Urey, number of rows: 1
name: Harold E. Varmus, number of rows: 1
name: Harold Kroto, number of rows: 1
name: Harold Pinter, number of rows: 1
name: Harry M. Markowitz, number of rows: 1
name: Harry Martinson, number of rows: 1
name: Hartmut Michel, number of rows: 1
name: Heike Kamerlingh Onnes, number of rows: 1
name: Heinrich Böll, number of rows: 1
name: Heinrich Otto Wieland, number of rows: 1
name: Heinrich Rohrer, number of rows: 1
name: Hendrik Lorentz, number of rows: 1
name: Henri Bergson, number of rows: 1
name: Henri La Fontaine, number of rows: 1
name: Henri Moissan, number of rows: 1
name: Henrik Dam, number of rows: 1
name: Henrik Pontoppidan, number of rows: 1
name: Henry Dunant, number of rows: 2
name: Henry Hallett Dale, number of rows: 1
name: Henry Kissinger, number of rows: 1
name: Henry Taube, number of rows: 1
name: Henry W. Kendall, number of rows: 1
name: Henryk Sienkiewicz, number of rows: 1
name: Herbert A. Hauptman, number of rows: 1
name: Herbert A. Simon, number of rows: 1
name: Herbert C. Brown, number of rows: 1
name: Herbert Kroemer, number of rows: 1
name: Herbert S. Gasser, number of rows: 1
name: Hermann Emil Fischer, number of rows: 1
name: Hermann Hesse, number of rows: 1
name: Hermann J. Muller, number of rows: 1
name: Hermann Staudinger, number of rows: 1
name: Herta Müller, number of rows: 1
name: Hideki Shirakawa, number of rows: 1
name: Hideki Yukawa, number of rows: 1
name: Hiroshi Amano, number of rows: 1
name: Hjalmar Branting, number of rows: 1
name: Horst L. Störmer, number of rows: 1
name: Horst Ludwig Störmer, number of rows: 1
name: Howard Florey, number of rows: 1
name: Howard Martin Temin, number of rows: 1
name: Igor Tamm, number of rows: 1
name: Ilya Mikhailovich Frank, number of rows: 1
name: Ilya Prigogine, number of rows: 1
name: Imre Kertész, number of rows: 1
name: Institut de Droit International, number of rows: 1
name: International Atomic Energy Agency, number of rows: 1
name: Irving Langmuir, number of rows: 1
name: Irwin Rose, number of rows: 1
name: Irène Joliot-Curie, number of rows: 1
name: Isaac Bashevis Singer, number of rows: 1
name: Isamu Akasaki, number of rows: 1
name: Isidor Isaac Rabi, number of rows: 1
name: Ivan Bunin, number of rows: 1
name: Ivan Pavlov, number of rows: 1
name: Ivar Giaever, number of rows: 2
name: Ivo Andrić, number of rows: 1
name: J. Georg Bednorz, number of rows: 1
name: J. Hans D. Jensen, number of rows: 1
name: J. J. Thomson, number of rows: 1
name: J. M. Coetzee, number of rows: 1
name: J. M. G. Le Clézio, number of rows: 1
name: J. Michael Bishop, number of rows: 1
name: J. Robin Warren, number of rows: 1
name: Jacinto Benavente, number of rows: 1
name: Jack Kilby, number of rows: 1
name: Jack Steinberger, number of rows: 1
name: Jack W. Szostak, number of rows: 2
name: Jacobus Henricus van 't Hoff, number of rows: 1
name: Jacques Monod, number of rows: 1
name: James A. Mirrlees, number of rows: 1
name: James B. Sumner, number of rows: 1
name: James Chadwick, number of rows: 1
name: James Cronin, number of rows: 1
name: James D. Watson, number of rows: 1
name: James Franck, number of rows: 1
name: James J. Heckman, number of rows: 1
name: James M. Buchanan, number of rows: 1
name: James Meade, number of rows: 1
name: James Rainwater, number of rows: 1
name: James Rothman, number of rows: 1
name: James Tobin, number of rows: 1
name: James W. Black, number of rows: 1
name: Jan Tinbergen, number of rows: 1
name: Jane Addams, number of rows: 1
name: Jaroslav Heyrovský, number of rows: 1
name: Jaroslav Seifert, number of rows: 1
name: Jean Baptiste Perrin, number of rows: 1
name: Jean Dausset, number of rows: 1
name: Jean Tirole, number of rows: 1
name: Jean-Marie Lehn, number of rows: 1
name: Jean-Paul Sartre, number of rows: 1
name: Jean-Pierre Sauvage, number of rows: 1
name: Jens Christian Skou, number of rows: 1
name: Jerome I. Friedman, number of rows: 1
name: Jerome Karle, number of rows: 1
name: Jimmy Carter, number of rows: 1
name: Jody Williams, number of rows: 1
name: Johann Deisenhofer, number of rows: 1
name: Johannes Diderik van der Waals, number of rows: 1
name: Johannes Fibiger, number of rows: 1
name: Johannes Stark, number of rows: 1
name: Johannes V. Jensen, number of rows: 1
name: John B. Gurdon, number of rows: 1
name: John Bardeen, number of rows: 2
name: John Bennett Fenn, number of rows: 1
name: John Boyd Orr, number of rows: 1
name: John C. Mather, number of rows: 1
name: John Carew Eccles, number of rows: 1
name: John Charles Harsanyi, number of rows: 1
name: John Cockcroft, number of rows: 1
name: John Cornforth, number of rows: 1
name: John E. Sulston, number of rows: 1
name: John E. Walker, number of rows: 1
name: John F. Enders, number of rows: 1
name: John Forbes Nash, number of rows: 1
name: John Galsworthy, number of rows: 1
name: John H. Northrop, number of rows: 1
name: John H. van Vleck, number of rows: 1
name: John Harsanyi, number of rows: 2
name: John Hicks, number of rows: 1
name: John Hume, number of rows: 1
name: John James Rickard Macleod, number of rows: 1
name: John Kendrew, number of rows: 1
name: John L. Hall, number of rows: 1
name: John M. Kosterlitz, number of rows: 2
name: John O'Keefe, number of rows: 1
name: John Polanyi, number of rows: 2
name: John Pople, number of rows: 1
name: John R. Mott, number of rows: 1
name: John Robert Vane, number of rows: 1
name: John Steinbeck, number of rows: 1
name: John Strutt, number of rows: 1
name: Joseph Brodsky, number of rows: 1
name: Joseph E. Murray, number of rows: 1
name: Joseph E. Stiglitz, number of rows: 1
name: Joseph Erlanger, number of rows: 1
name: Joseph H. Taylor Jr., number of rows: 1

In [104]:
all_dupes_4 = pd.concat([g for _,g in df.groupby('name') if len(g)>1])['name']
all_dupes_4.shape

(121,)

In [105]:
all_dupes_4[:2]

26     Aaron Klug
496    Aaron Klug
Name: name, dtype: object

In [106]:
all_dupes = all_dupes_1

Ok, so now lets use the results of the full list of duplicates to see where these duplicates come from...

In [108]:
all_dupes.sort_values('name')[['name','country','year']]

                         name                     country  year
26                 Aaron Klug                South Africa  1982
496                Aaron Klug              United Kingdom  1982
993     Adolfo Pérez Esquivel                   Argentina  1980
988     Adolfo Pérez Esquivel                     Summary  1980
635           Alan MacDiarmid                 New Zealand  2000
309           Alan MacDiarmid               United States  2000
849           Albert Einstein                     Germany  1921
549           Albert Einstein                 Switzerland  1921
397              Angus Deaton               United States  2015
413              Angus Deaton              United Kingdom  2015
385               Aziz Sancar               United States  2015
524               Aziz Sancar                      Turkey  2015
61           Baruj Benacerraf                   Venezuela  1980
205          Baruj Benacerraf               United States  1980
990          Bernardo Houssay                     Summary  1947
995          Bernardo Houssay                   Argentina  1947
996     Carlos Saavedra Lamas                   Argentina  1936
991     Carlos Saavedra Lamas                     Summary  1936
814            Charles K. Kao                   Hong Kong  2009
360            Charles K. Kao               United States  2009
992            César Milstein                   Argentina  1984
493            César Milstein              United Kingdom  1984
1053           César Milstein                     Summary  1984
571              Daniel Bovet                 Switzerland  1957
744              Daniel Bovet                       Italy  1957
406         David J. Thouless              United Kingdom  2016
355         David J. Thouless               United States  2016
789              Dennis Gabor                     Hungary  1971
475              Dennis Gabor              United Kingdom  1971
564         Edmond H. Fischer                 Switzerland  1992
...                       ...                         ...   ...
1067            Peter Medawar                      Brazil  1960
481             Peter Medawar              United Kingdom  1960
786            Philipp Lenard                     Hungary  1905
820            Philipp Lenard                     Germany  1905
937             Ragnar Granit                     Finland  1809
589             Ragnar Granit                      Sweden  1967
34          Ralph M. Steinman               United States  2011
1071        Ralph M. Steinman                      Canada  2011
1096  Richard Adolf Zsigmondy                     Austria  1925
784   Richard Adolf Zsigmondy                     Hungary  1925
761      Rita Levi-Montalcini                       Italy  1986
163      Rita Levi-Montalcini               United States  1986
490              Ronald Coase              United Kingdom  1991
38               Ronald Coase               United States  1991
785             Róbert Bárány                     Hungary  1914
1098            Róbert Bárány                     Austria  1914
1060            Sidney Altman                      Canada  1989
261             Sidney Altman               United States  1990
538            Sydney Brenner              United Kingdom  2002
316            Sydney Brenner               United States  2002
400          Thomas C. Südhof               United States  2013
921          Thomas C. Südhof                     Germany  2013
414             Tomas Lindahl              United Kingdom  2015
24              Tomas Lindahl                      Sweden  2015
123             Tsung-Dao Lee               United States  1957
1015            Tsung-Dao Lee                       China  1957
711       William C. Campbell                     Ireland  2015
386       William C. Campbell               United States  2015
240               Yuan T. Lee               United States  1986
582               Yuan T. Lee  Taiwan (Republic of China)  1986

[121 rows x 3 columns]

In [ ]:
#TODO start up w/ removing duplicates on p240