In [80]:
import pandas as pd
import json
import pymongo
import numpy as np

In [56]:
df = pd.read_json('nobel_winners_scrapy/nobel_winners.json', encoding='utf-8')
df.shape

(1106, 12)

In [57]:
df[:3]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
1,Australia,Physiology or Medicine,,26 November 1948,NaN,female,https://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,Hobart,NaN,"Elizabeth Blackburn *, Physiology or Medicine,...",2009
2,,Chemistry,Germany,26 November 1898,12 August 1973,male,https://en.wikipedia.org/wiki/Karl_Ziegler,Karl Ziegler,Helsa,Mülheim,"Karl Ziegler , Chemistry, 1963",1963

In [58]:
df['gender'].value_counts(dropna=False)

male      1036
female      61
NaN          9
Name: gender, dtype: int64

Since we're not getting rid of non-person prizes in the Scrapy code, we'll do it here.

In [59]:
df = df[df['gender'].notnull()]
df['gender'].value_counts(dropna=False)

male      1036
female      61
Name: gender, dtype: int64

In [60]:
# loc works by name/by index, but we can pass two here because the default
# index IS just integers
df.loc[2]

born_in
category                                           Chemistry
country                                              Germany
date_of_birth                               26 November 1898
date_of_death                                 12 August 1973
gender                                                  male
link              https://en.wikipedia.org/wiki/Karl_Ziegler
name                                            Karl Ziegler
place_of_birth                                         Helsa
place_of_death                                       Mülheim
text                          Karl Ziegler , Chemistry, 1963
year                                                    1963
Name: 2, dtype: object

In [61]:
# iloc is the position, so 2 is the third row
df.iloc[2]

born_in
category                                           Chemistry
country                                              Germany
date_of_birth                               26 November 1898
date_of_death                                 12 August 1973
gender                                                  male
link              https://en.wikipedia.org/wiki/Karl_Ziegler
name                                            Karl Ziegler
place_of_birth                                         Helsa
place_of_death                                       Mülheim
text                          Karl Ziegler , Chemistry, 1963
year                                                    1963
Name: 2, dtype: object

In [62]:
foo = df.groupby('category')
foo.groups.keys()

dict_keys(['', 'Economics', 'Literature', 'Chemistry', 'Peace', 'Physiology or Medicine', 'Physics'])

In [64]:
df[df.category == 'Physics']

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physics,Australia,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,Missoula,NaN,"Brian Schmidt , born in the United States , P...",2011
3,Germany,Physics,,28 June 1906,20 February 1972,female,https://en.wikipedia.org/wiki/Maria_Goeppert-M...,Maria Goeppert-Mayer *,Katowice,San Diego,"Maria Goeppert-Mayer *, Physics, 1963",1963
4,,Physics,Germany,25 June 1907,11 February 1973,male,https://en.wikipedia.org/wiki/J._Hans_D._Jensen,J. Hans D. Jensen,Hamburg,Heidelberg,"J. Hans D. Jensen , Physics, 1963",1963
5,,Physics,Germany,31 January 1929,14 September 2011,male,https://en.wikipedia.org/wiki/Rudolf_M%C3%B6ss...,Rudolf Mössbauer,Munich,Grünwald,"Rudolf Mössbauer , Physics, 1961",1961
7,Germany,Physics,,25 May 1921,NaN,male,https://en.wikipedia.org/wiki/Jack_Steinberger,Jack Steinberger *,Bad Kissingen,NaN,"Jack Steinberger *, Physics, 1988",1988
8,,Physics,Germany,16 May 1950,NaN,male,https://en.wikipedia.org/wiki/J._Georg_Bednorz,J. Georg Bednorz,Neuenkirchen,NaN,"J. Georg Bednorz , Physics, 1987",1987
17,Poland,Physics,,1 August 1924,29 September 2010,male,https://en.wikipedia.org/wiki/Georges_Charpak,Georges Charpak *,Dubrovytsia,Paris,"Georges Charpak *, born in then Poland (Secon...",1992
20,Netherlands,Physics,,11 March 1920,NaN,male,https://en.wikipedia.org/wiki/Nicolaas_Bloembe...,Nicolaas Bloembergen *,Dordrecht,NaN,"Nicolaas Bloembergen *, Physics, 1981",1981
30,,Physics,United States,20 February 1945,NaN,male,https://en.wikipedia.org/wiki/George_F._Smoot,George F. Smoot,Yukon,NaN,"George F. Smoot , Physics, 2006",2006
32,,Physics,United States,24 February 1967,NaN,male,https://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,Missoula,NaN,"Brian P. Schmidt , Physics, 2011",2011
33,,Physics,United States,16 December 1969,NaN,male,https://en.wikipedia.org/wiki/Adam_G._Riess,Adam G. Riess,"Washington, D.C.",NaN,"Adam G. Riess , Physics, 2011",2011
43,,Physics,United States,28 March 1930,NaN,male,https://en.wikipedia.org/wiki/Jerome_I._Friedman,Jerome I. Friedman,Chicago,NaN,"Jerome I. Friedman , Physics, 1990",1990
44,,Physics,United States,9 December 1926,15 February 1999,male,https://en.wikipedia.org/wiki/Henry_W._Kendall,Henry W. Kendall,Boston,Florida,"Henry W. Kendall , Physics, 1990",1990
54,,Physics,United States,5 February 1915,17 November 1990,male,https://en.wikipedia.org/wiki/Robert_Hofstadter,Robert Hofstadter,New York City,Stanford,"Robert Hofstadter , Physics, 1961",1961
59,,Physics,United States,19 December 1852,9 May 1931,male,https://en.wikipedia.org/wiki/Albert_A._Michelson,Albert A. Michelson,Posen Province,Pasadena,"Albert A. Michelson , born in then Germany, n...",1907
69,,Physics,United States,10 September 1892,15 March 1962,male,https://en.wikipedia.org/wiki/Arthur_H._Compton,Arthur H. Compton,Wooster,Berkeley,"Arthur H. Compton , Physics, 1927",1927
71,,Physics,United States,22 March 1868,19 December 1953,male,https://en.wikipedia.org/wiki/Robert_A._Millikan,Robert A. Millikan,Morrison,San Marino,"Robert A. Millikan , Physics, 1923",1923
74,,Physics,United States,3 September 1905,11 January 1991,male,https://en.wikipedia.org/wiki/Carl_David_Anderson,Carl Anderson,New York City,San Marino,"Carl Anderson , Physics, 1936",1936
81,,Physics,United States,8 August 1901,27 August 1958,male,https://en.wikipedia.org/wiki/Ernest_Lawrence,Ernest Lawrence,Canton,Palo Alto,"Ernest Lawrence , Physics, 1939",1939
83,,Physics,United States,22 October 1881,1 February 1958,male,https://en.wikipedia.org/wiki/Clinton_Davisson,Clinton Davisson,Bloomington,Charlottesville,"Clinton Davisson , Physics, 1937",1937
86,,Physics,United States,29 July 1898,11 January 1988,male,https://en.wikipedia.org/wiki/Isidor_Isaac_Rabi,Isidor Isaac Rabi,Rymanów,New York City,"Isidor Isaac Rabi , born in Austria , Physics...",1944
89,,Physics,United States,17 February 1888,17 August 1969,male,https://en.wikipedia.org/wiki/Otto_Stern,Otto Stern,Żory,California,"Otto Stern , born in then Germany, now Poland...",1943
94,,Physics,United States,23 May 1908,30 January 1991,male,https://en.wikipedia.org/wiki/John_Bardeen,John Bardeen,Madison,Boston,"John Bardeen , Physics, 1972",1972
95,,Physics,United States,28 February 1930,NaN,male,https://en.wikipedia.org/wiki/Leon_N._Cooper,Leon N. Cooper,New York City,NaN,"Leon N. Cooper , Physics, 1972",1972
96,,Physics,United States,31 May 1931,NaN,male,https://en.wikipedia.org/wiki/Robert_Schrieffer,Robert Schrieffer,Oak Park,NaN,"Robert Schrieffer , Physics, 1972",1972
109,,Physics,United States,21 April 1882,20 August 1961,male,https://en.wikipedia.org/wiki/Percy_W._Bridgman,Percy W. Bridgman,Cambridge,Randolph,"Percy W. Bridgman , Physics, 1946",1946
113,,Physics,United States,30 August 1912,7 March 1997,male,https://en.wikipedia.org/wiki/E._M._Purcell,E. M. Purcell,Taylorville,Cambridge,"E. M. Purcell , Physics, 1952",1952
114,,Physics,United States,23 October 1905,10 September 1983,male,https://en.wikipedia.org/wiki/Felix_Bloch,Felix Bloch,Zürich,Zürich,"Felix Bloch , born in Switzerland , Physics, ...",1952
122,,Physics,United States,1 October 1922,NaN,male,https://en.wikipedia.org/wiki/Chen_Ning_Yang,Chen Ning Yang,Hefei,NaN,"Chen Ning Yang , born in China , Physics, 1957",1957
123,,Physics,United States,24 November 1926,NaN,male,https://en.wikipedia.org/wiki/Tsung-Dao_Lee,Tsung-Dao Lee,Shanghai,NaN,"Tsung-Dao Lee , born in China , Physics, 1957",1957
...,...,...,...,...,...,...,...,...,...,...,...,...
910,,Physics,Denmark,7 October 1885,18 November 1962,male,https://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,Copenhagen,Copenhagen,"Niels Bohr , Physics, 1922",1922
925,,Physics,Germany,18 May 1939,NaN,male,https://en.wikipedia.org/wiki/Peter_Gr%C3%BCnberg,Peter Grünberg,Plzeň,NaN,"Peter Grünberg , born in then Protectorate of...",2007
929,,Physics,France,15 December 1852,25 August 1908,male,https://en.wikipedia.org/wiki/Henri_Becquerel,Antoine Henri Becquerel,Paris,Le Croisic,"Antoine Henri Becquerel , Physics, 1903",1903
930,,Physics,France,15 May 1859,19 April 1906,male,https://en.wikipedia.org/wiki/Pierre_Curie,Pierre Curie,Paris,Paris,"Pierre Curie , Physics, 1903",1903
931,,Physics,France,7 November 1867,4 July 1934,female,https://en.wikipedia.org/wiki/Marie_Curie,Marie Curie,Warsaw,Sancellemoz,"Marie Curie , born in partitioned Poland (Rus...",1903
940,,Physics,France,30 September 1870,17 April 1942,male,https://en.wikipedia.org/wiki/Jean_Baptiste_Pe...,Jean Baptiste Perrin,Lille,New York City,"Jean Baptiste Perrin , Physics, 1926",1926
951,,Physics,France,15 August 1892,19 March 1987,male,https://en.wikipedia.org/wiki/Louis_de_Broglie,Louis de Broglie,Dieppe,Louveciennes,"Louis de Broglie , Physics, 1929",1929
960,,Physics,France,1 April 1933,NaN,male,https://en.wikipedia.org/wiki/Claude_Cohen-Tan...,Claude Cohen-Tannoudji,Constantine,NaN,"Claude Cohen-Tannoudji , born in French Alger...",1997
961,,Physics,France,1 August 1924,29 September 2010,male,https://en.wikipedia.org/wiki/Georges_Charpak,Georges Charpak,Dubrovytsia,Paris,"Georges Charpak , Physics, 1992",1992
962,,Physics,France,24 October 1932,18 May 2007,male,https://en.wikipedia.org/wiki/Pierre-Gilles_de...,Pierre-Gilles de Gennes,Paris,Orsay,"Pierre-Gilles de Gennes , Physics, 1991",1991
975,,Physics,France,11 September 1944,NaN,male,https://en.wikipedia.org/wiki/Serge_Haroche,Serge Haroche,Casablanca,NaN,"Serge Haroche , born in Morocco, then under F...",2012
980,,Physics,France,7 March 1938,NaN,male,https://en.wikipedia.org/wiki/Albert_Fert,Albert Fert,Carcassonne,NaN,"Albert Fert , Physics, 2007",2007
1009,,Physics,Denmark,19 June 1922,8 September 2009,male,https://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,Copenhagen,Copenhagen,"Aage Bohr , Physics, 1975",1975
1010,,Physics,Denmark,9 July 1926,NaN,male,https://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,Chicago,NaN,"Ben Roy Mottelson , Physics, 1975",1975
1014,,Physics,China,1 October 1922,NaN,male,https://en.wikipedia.org/wiki/Chen-Ning_Yang,Chen-Ning Yang,Hefei,NaN,"Chen-Ning Yang , Physics, 1957",1957
1015,,Physics,China,24 November 1926,NaN,male,https://en.wikipedia.org/wiki/Tsung-Dao_Lee,Tsung-Dao Lee,Shanghai,NaN,"Tsung-Dao Lee , Physics, 1957",1957
1016,China,Physics,,10 February 1902,13 October 1987,male,https://en.wikipedia.org/wiki/Walter_Houser_Br...,Walter Houser Brattain *,Xiamen,Seattle,"Walter Houser Brattain *, born in China , Phy...",1956
1028,China,Physics,,4 November 1933,NaN,male,https://en.wikipedia.org/wiki/Charles_K._Kao,Charles K. Kao *,Shanghai,NaN,"Charles K. Kao *, as a British and American ...",2009
1030,China,Physics,,28 February 1939,NaN,male,https://en.wikipedia.org/wiki/Daniel_C._Tsui,Daniel C. Tsui *,Baofeng County,NaN,"Daniel C. Tsui *, as an American citizen , Ph...",1998
1032,Australia,Physics,,11 July 1916,8 January 2002,male,https://en.wikipedia.org/wiki/Alexander_Prokhorov,Alexander Prokhorov *,Atherton,Moscow,"Alexander Prokhorov *, Physics, 1964",1964
1056,,Physics,Canada,15 July 1918,13 October 2003,male,https://en.wikipedia.org/wiki/Bertram_Brockhouse,Bertram Brockhouse,Lethbridge,Hamilton,"Bertram Brockhouse , Physics, 1994",1994
1059,,Physics,Canada,2 November 1929,NaN,male,https://en.wikipedia.org/wiki/Richard_E._Taylor,Richard E. Taylor,Medicine Hat,NaN,"Richard E. Taylor , Physics, 1990",1990
1069,,Physics,Canada,29 August 1943,NaN,male,https://en.wikipedia.org/wiki/Arthur_B._McDonald,Arthur B. McDonald,Sydney,NaN,"Arthur B. McDonald , Physics, 2015",2015
1072,Canada,Physics,,19 August 1924,7 May 2011,male,https://en.wikipedia.org/wiki/Willard_Boyle,Willard Boyle *,Amherst,"Wallace, Nova Scotia","Willard Boyle *, Physics, 2009",2009
1084,,Physics,Belgium,6 November 1932,NaN,male,https://en.wikipedia.org/wiki/Fran%C3%A7ois_En...,François Englert,Etterbeek,NaN,"François Englert , Physics, 2013",2013
1087,Belarus,Physics,,15 March 1930,NaN,male,https://en.wikipedia.org/wiki/Zhores_Alferov,Zhores Alferov *,Vitebsk,NaN,"Zhores Alferov *, born in then Soviet Union, ...",2000
1092,,Physics,Austria,24 June 1883,17 December 1964,male,https://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,Deutschfeistritz,Mount Vernon,"Victor Francis Hess , Physics, 1936",1936
1093,,Physics,Austria,12 August 1887,5 January 1961,male,https://en.wikipedia.org/wiki/Erwin_Schr%C3%B6...,Erwin Schrödinger,Vienna,Vienna,"Erwin Schrödinger , Physics, 1933",1933
1101,,Physics,Azerbaijan,22 January 1908,1 April 1968,male,https://en.wikipedia.org/wiki/Lev_Landau,Lev Landau,Baku,Moscow,"Lev Landau , born in Baku, Azerbaijan , Physi...",1962
1104,,Physics,Austria,25 April 1900,15 December 1958,male,https://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,Vienna,Zürich,"Wolfgang Pauli , Physics, 1945",1945

# Creating and saving data frames

In [67]:
df = pd.DataFrame({
        'name':['Albert Einstein','Marie Curie','William Faulkner'],
        'category':['Physics','Chemistry','Literature']
    })
df

     category              name
0     Physics   Albert Einstein
1   Chemistry       Marie Curie
2  Literature  William Faulkner

In [68]:
df.to_json()

'{"category":{"0":"Physics","1":"Chemistry","2":"Literature"},"name":{"0":"Albert Einstein","1":"Marie Curie","2":"William Faulkner"}}'

In [69]:
df.to_json(orient='records')

'[{"category":"Physics","name":"Albert Einstein"},{"category":"Chemistry","name":"Marie Curie"},{"category":"Literature","name":"William Faulkner"}]'

# MongoDB to/from

In [71]:
def get_mongo_database(db_name, host='localhost', 
                       port=27017, username=None, password=None):
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s/%s'%(username, password, host, db_name)
        conn = pymongo.MongoClient(mongo_uri)
    else:
        conn = pymongo.MongoClient(host, port)
        
    return conn[db_name]

In [72]:
def mongo_to_dataframe(db_name, collection, query={},
                       host='localhost', port=27017,
                       username=None, password=None, no_id=True):
    db = get_mongo_database(db_name, host, port, username, password)
    
    cursor = db[collection].find(query)
    df = pd.DataFrame(list(cursor))
    
    if no_id:
        del df['_id']
    
    return df

def dataframe_to_mongo(df, db_name, collection,
                       host='localhost', port=27017,
                       username=None, password=None):
    db = get_mongo_database(db_name, host, port, username, password)
    records = df.to_dict('records')
    db[collection].insert_many(records)

In [76]:
winners = mongo_to_dataframe('nobel_prize','winners')
winners.shape

(3, 5)

In [77]:
winners

    category             name nationality     sex  year
0    Physics  Albert Einstein       Swiss    male  1921
1    Physics       Paul Dirac     British    male  1933
2  Chemistry      Marie Curie      Polish  female  1911

# A bit w/ Series

Series can be passed, without any additional work, to any function that takes a NumPy ndarray.

In [78]:
s = pd.Series([1,2,3,4], ['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [82]:
np.sqrt(s)

a    1.000000
b    1.414214
c    1.732051
d    2.000000
dtype: float64

In [83]:
np.power(s, 2)

a     1
b     4
c     9
d    16
dtype: int64

# Panels

Just like DataFrames are made of Series instances, Panels are made of DataFrame instances... they give a third dimension.

In [84]:
df1 = pd.DataFrame({'foo':[1,2,3], 'bar':['a','b','c']})
df1

  bar  foo
0   a    1
1   b    2
2   c    3

In [85]:
df2 = pd.DataFrame({'baz':[7,8,9,11], 'sky':['p','q','r','t']})
df2

   baz sky
0    7   p
1    8   q
2    9   r
3   11   t

In [86]:
pn = pd.Panel({'item1':df1, 'item2':df2})
pn

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 4 (minor_axis)
Items axis: item1 to item2
Major_axis axis: 0 to 3
Minor_axis axis: bar to sky

In [90]:
pn['item1']

   bar  baz  foo  sky
0    a  NaN    1  NaN
1    b  NaN    2  NaN
2    c  NaN    3  NaN
3  NaN  NaN  NaN  NaN

In [91]:
pn['item2']

   bar baz  foo sky
0  NaN   7  NaN   p
1  NaN   8  NaN   q
2  NaN   9  NaN   r
3  NaN  11  NaN   t